* {margin:0;padding:0;color:white;}
html {width:100%;height:100%;}
body {width:100%;height:100%;background-color:#1F1F1F;}
.header {
  width:100%;
  height:50px;
  border-bottom:1px white solid;
  box-sizing: border-box;

  font-size:40px;
  line-height:50px;
}


.main {
  width:100%;
  height:calc(100% - 150px);
}
.main.hidden {
  display:none;
}
#main_title {
  background-image:url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창표지.png"), url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창jpg");
  background-size:contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#floorHeader {
  width:100%;
  height:50px;
  border-bottom:1px white solid;
  box-sizing: border-box;

  font-size:40px;
  line-height:50px;
  text-align: right;
}
#floorMain {
  width:100%;
  height:calc(100% - 150px);

  background-size:contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
  #floorMain.floor1 {
    background-image:url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창1층.png"), url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창jpg");
  }
  #floorMain.floor2 {
    background-image:url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창2층.png"), url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창jpg");
  }
  #floorMain.floor3 {
    background-image:url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창3층.png"), url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창pg");
  }
  #floorMain.floor4 {
    background-image:url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창4층.png"), url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창jpg");
  }
#floorfooter {
  display:flex;
  width:100%;
  height:100px;
  border-top:1px white solid;
  box-sizing: border-box;
}
  .floorButton {
    display:inline-block;
    flex: auto ;

    color:black;
    font-size:30px;
  }

#main_schedule {
  background-image:url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창휴관일.png"), url("https://lib.yangsan.go.kr/cmm/fms/getImageKio.do?orignlFileNm=키오스크서창휴관일.jpg");
  background-size:contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.footer {
  display:flex;
  width:100%;
  height:100px;
  border-top:1px white solid;
  box-sizing: border-box;
}
  .footerButton {
    display:inline-block;
    flex: auto ;

    color:black;
    font-size:30px;
  }